body{
    background: #0d0d0d;
    color: white;
    font-family: Arial;
}

/* NAVBAR */
.custom-nav{
    background: #111;
}
.brand-glow{
    color:#00eaff;
    font-weight:bold;
    text-shadow:0 0 20px #00eaff;
}

/* HERO */
.hero-container{
    padding-top:140px;
    text-align:center;
}
.hero-pic{
    width:150px;
    height:180px;
    border-radius:50%;
    border:4px solid #00eaff;
    box-shadow:0 0 25px #00eaff;
    transition:0.4s;
}
.hero-pic:hover{
    transform:scale(1.15);
}
.hero-title span{
    color:#00eaff;
}

.social-links a{
    font-size:28px;
    margin:0 10px;
    color:#00eaff;
    transition:.3s;
}
.social-links a:hover{
    transform:scale(1.2);
    color:white;
}

/* ABOUT */
.about-section{
    margin-top:80px;
}
.about-box{
    background:#111;
    border-radius:15px;
    padding:25px;
    box-shadow:0 0 25px #00eaff55;
    transition:.3s;
}
.about-box:hover{
    transform:scale(1.05);
    box-shadow:0 0 35px #00eaff;
}
.about-img{
    width:100%;
    border:3px solid #00eaff;
    border-radius:15px;
}

/* SKILLS */
.skills-section{
    margin-top:70px;
}
.skill{
    margin-bottom:20px;
}
.progress{
    
    height:26px;
    background:#222;
    border-radius:10px;
}
.progress-bar{
    background:#316b70;
    font-weight:bold;
    box-shadow:0 0 15px #00eaff;
}
/* Portfolio Section Title Glow */
.glow-text {
    color: #00eaff;
    text-shadow: 0 0 12px #00eaff;
}

/* Portfolio Wrapper */
.portfolio-box {
    background: #0d1b2a;
    padding: 25px;
    border-radius: 18px;
    border: 1px solid #00eaff;
    box-shadow: 0 0 25px rgba(0, 234, 255, 0.4);
}

/* Each project horizontal block */
.horizontal-card {
    width: 30%;
    min-width: 240px;
    background: #112233;
    border-radius: 15px;
    border: 1px solid #00eaff;
    box-shadow: 0 0 12px rgba(0, 234, 255, 0.3);
    transition: 0.3s;
}

/* Hover */
.horizontal-card:hover {
    transform: scale(1.07);
    box-shadow: 0 0 25px #00eaff;
}

/* Project Images */
.project-img {
    border-radius: 12px;
    border: 2px solid #00eaff;
    box-shadow: 0 0 15px rgba(0, 234, 255, 0.4);
    height: 370px;
    width: 100%;
    object-fit: cover;
}


/* FORM  */
.contact-card{
    background:#111;
    border-radius:15px;
    box-shadow:0 0 25px #00eaff55;
}
.modern-input{
    background:#0d0d0d;
    border:2px solid #00eaff55;
    color:white;
}
.modern-input:focus{
    box-shadow:0 0 15px #00eaff;
    border-color:#00eaff;
}
.modern-btn{
    background:#00eaff;
    font-weight:bold;
    color:black;
    box-shadow:0 0 20px #00eaff;
}
.modern-btn:hover{
    background:white;
    box-shadow:0 0 30px white;
}

/* FOOTER */
.footer{
    background:#111;
    margin-top:70px;
}

